<hr style="margin: 0% 0 2% 0; border: solid 2px {{ settings.color_primary }};">
<div id="nade_main_page">
    <div id="product_details" style="background-image: url('{{ 'shape.png' | asset_img_url: 'master'}}');"> 
        <div id="product_bottle_section">
            <img id="bottle" src="{{ 'bottle.png' | asset_img_url: 'master' }}" alt="bottle"/>
                <a href="{{ section.settings.btn_shop_now }}">
                    <img id="shop_now" src="{{ 'shopnow_button.png' | asset_img_url: '200x' }}" alt="shop now">
                </a>
        </div>
        <div id="product_text_section">
            <img src="{{ 'createdby_pointer.png' | asset_img_url: 'master' }}" alt="created by pointer"/>
            <h3>{{ section.settings.product_headline }}</h3>
            <hr>
            <p>{{ section.settings.product_body }}</p>
            <p id="product_callout">{{ section.settings.product_callout }}</p>
            <div id="hover_btns">
                <div class="reveal">
                    <img class="shown" src="{{ 'icon_meat.png' | asset_img_url: '55x' }}" alt="Meat">
                    <img class="hidden" src="{{ 'icon_meat_hover.png' | asset_img_url: '55x' }}" alt="Meat">
                </div>
                <div class="reveal">
                    <img class="shown" src="{{ 'icon_veg.png' | asset_img_url: '55x' }}" alt="Veg">
                    <img class="hidden" src="{{ 'icon_veg_hover.png' | asset_img_url: '55x' }}" alt="Veg">
                </div>
                <div class="reveal">
                    <img class="shown" src="{{ 'icon_fish.png' | asset_img_url: '55x' }}" alt="Fish">
                    <img class="hidden" src="{{ 'icon_fish_hover.png' | asset_img_url: '55x' }}" alt="Fish">
                </div>
                <div class="reveal">
                    <img class="shown" src="{{ 'icon_tofu.png' | asset_img_url: '55x' }}" alt="Tofu">
                    <img class="hidden" src="{{ 'icon_tofu_hover.png' | asset_img_url: '55x' }}" alt="Tofu">
                </div>
            </div>
            
        </div>
    </div>
    <div id="background_image">
        <img src="{{ section.settings.right_background_image | img_url: 'master' }}" alt="hero">
    </div>
</div>

{% schema %}
    {
        "name": "Nade Section",
        "tag": "div",
        "settings": [
            {
                "type": "image_picker",
                "id": "right_background_image",
                "label": "Right background image"
            },
            {
                "id": "btn_shop_now",
                "type": "url",
                "label": "Shop Now Button link"
            },
            {
                "type": "textarea",
                "id": "product_headline",
                "label": "Product Headline",
                "info": "Headline",
                "placeholder": "Some text"
            },
            {
                "type": "textarea",
                "id": "product_body",
                "label": "Product Body",
                "info": "Body text",
                "placeholder": "Some text"
            },
            {
                "type": "text",
                "id": "product_callout",
                "label": "Product Callout",
                "info": "Callout",
                "placeholder": "Some text"
            }
        ],
        "presets": [
            {
                "category": "Custom Content",
                "name":"Nade Section"
            }
        ]
    }
{% endschema %}

{% style %}
    #nade_main_page {
        display: flex;
        flex-wrap: nowrap;
        padding: 1% 4%;
    }
    #product_details {
        display: flex;
        width: 41%;
        background-repeat: no-repeat;
        background-size: contain;
        z-index: 2;
        margin-top: 8%;
        padding: 0 4% 3% 4%; 
    }
    #product_bottle_section{
        width: 50%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    #product_bottle_section > #bottle {
        margin-top: -53%;
        max-width: 270%;
    }
    #product_bottle_section > a {
        margin-top: -13%;
    }
    #product_text_section {
        width: 50%;
        color: white;
    }
    #background_image {
        width: 67%;
        z-index: 1;
        margin-left: -4%;
    }
    #product_text_section > h3 {
        color: white !important;
        margin-top: 15%;
    }
    #product_text_section > hr {
        border: solid 2px white;
        margin: 3% 0 4% 0;
    }
    #product_text_section > img {
        margin: -29% 0 0 -20%;
        max-width: 78%;
    }
    #hover_btns{
        display: flex;
        justify-content: space-evenly;
    }
    #product_callout {
        font-weight: bold;
    }
    .hidden {
        display: none;
    }
    .reveal:hover .hidden { 
        display: block;    
    }
    .reveal:hover .shown{
        display: none;
    }
    @media screen and (max-width: 767px) {
        #product_bottle_section > #bottle {
            margin-top: -50%;
            max-width: 330%;
        }
        #product_bottle_section > a {
            margin-top: 38%;
        }
        #product_details {
            width: auto;
            margin-top: 21%;
            background-image: none !important;
            background-color: {{ settings.color_primary }};
        }
        #product_details h3 {
            font-size: 1.8rem;
            line-height: normal;
            font-weight: bold;
        } 
        #product_details p {
            line-height: normal;
        }
        #product_text_section {
            margin-top: -9%;
        }
        #background_image {
            display: none;
        }
        #product_text_section > img {
            margin: -29% 0 0 -10%;
            max-width: 83%;
        }
    }
{% endstyle %}